/*****done*****/
.jumbotron{
    display:flex;
    background-image: url("../../images/category_health.png");
    background-position:center;
    background-size: 100%;
    top: 325px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width:1290px;
    height:650px;
  }

  .medal{
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 7.5%;
    padding-bottom:7.5%;
    position: absolute;
    top: 13%;
    left: 93%;
    transform: translate(-50%,-50%);
  }
  .sub_box{
   display:flex;
   margin-top: 3%;
   margin-left:3%;
   flex-wrap:wrap;
   position:absolute;
   width:300px;
   height:150px;
   font-weight: bold;
   font-size: 20px;
  }
  .link{
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
    width: 150px;
    height: 30px;
    position: absolute;
    text-align:left;
    cursor: pointer;
    opacity:60%;
    color: white;
  }
  .link:hover{
    opacity: 100%;
  }

  .saying_box{
    display:flex;
  }
  .saying_left_66{
    width:45px;
    height:30px;
    background-image: url("../../images/white_66.png");
    background-size:100% 100%;
    opacity: 90%;
    position: absolute;
    top: 38%;
    left: 15%;
    transform: translate(-50%,-50%);
  }
  .saying_right_99{
    width:45px;
    height:30px;
    background-image: url("../../images/white_99.png");
    background-size:100% 100%;
    opacity: 90%;
    position: absolute;
    top: 38%;
    left: 85%;
    transform: translate(-50%,-50%);
  }
  .saying_up{
    width:50px;
    height:50px;
    background-image: url("../../images/up_arrow.png");
    background-size:100% 100%;
    opacity: 40%;
    position: absolute;
    top:  3%;
    left: 50%;
    transform: translate(-50%,0%);
  }
  .saying_up:hover{
    opacity: 100%;
    width:52px;
    height:52px;
    cursor:pointer;
  }
  .saying_down{
    width:50px;
    height:50px;
    background-image: url("../../images/down_arrow.png");
    background-size:100% 100%;
    opacity: 40%;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%,0%);
  }
  .saying_down:hover{
    opacity: 100%;
    width:52px;
    height:52px;
    cursor:pointer;
  }
  .saying_up_message{
    opacity:40%;
    display:block;
    text-align:center;
    width: 930px;
    font-weight: bold;
    font-size:30px;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%,-0%);
    color:white;
}
.saying_up_message:hover{
  opacity:100%;
  cursor: pointer;
  text-shadow: 0px 0px 5px white;
}
  .saying_message{
      display:block;
      text-align:center;
      position: absolute;
      width: 930px;
      font-weight: bold;
      font-size:80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color:white;
  }
  .saying_message:hover{
    cursor: pointer;
    text-shadow: 0px 0px 5px white;
  }
  .saying_down_message{
      opacity:40%;
      display:block;
      text-align:center;
      width: 930px;
      font-weight: bold;
      font-size:30px;
      position: absolute;
      bottom: 18%;
      left: 50%;
      transform: translate(-50%,-0%);
      color:white;
  }
  .saying_down_message:hover{
    opacity:100%;
    cursor: pointer;
    text-shadow: 0px 0px 5px white;
  }
  .like_box{
    width: 300px;
    height:200px;
    position: absolute;
    top: 84.5%;
    left: 89.5%;
    transform: translate(-50%,-50%);
  }
  .profile{
    border-radius: 100%;
    border: 4px solid #FFBF31;
    width:78px;
    height: 78px;
    background-image: url("../../images/Kkobugi.png");
    background-size:100% 100%;
    position: absolute;
    top: 23%;
    left: 63%;
    transform: translate(-50%,-50%); 
  }
  .heart_icon{
    width: 30px;
    height:30px;
    background-image: url("../../images/Red_Heart.png");
    background-size:100% 100%;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%); 
  }
  .like_count{
    color:white;
    font-size:30px;
    font-weight:bold;
    position: absolute;
    top: 63%;
    left: 69%;
    transform: translate(-50%,-50%); 
  }