/******done*******/
.plus_button {
  z-index: 90;
  position: fixed;
  bottom: 30px;
  left: 87%;
  cursor: pointer;
  background-image: url("../../images/Plus_Button.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.plus_button:hover{
  border: 3px solid #FFBF31;
}