/*******done*******/

.container{
  z-index:9;
  display:flex;
  align-items:center;
  justify-content:center;
  position: fixed;
  width: 100%;
  height: 100%;
}
.modalbox_bg{
  z-index:99;
  position: fixed;
  background-color:rgba(0,0,0,35%);
  width: 100%;
  height: 100%;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.link{
  z-index:9;
  text-decoration: none;
  color: inherit;
  cursor:Default;
}
.modalbox{
  z-index:999;
  display:flex;
  position: absolute;
  background-color:white;
  border: 1px solid #ccc;
  border-radius:50px;
  width: 30%;
  height: 76%;
}
.image{
  position: absolute;
  display:flex;
  background-size:100% 100%;
  background-position: center;
  border: 3px solid #FFBF31;
  border-radius:20px;
  width:50%;
  padding-bottom: 50%;
  left:50%;
  top:25.0%;
  transform: translate(-50%,-50%);
}
.contentbox{
  display:flex;
  position: absolute;
  height: 60.0%;
  width:100%;
  left:50%;
  top: 49%;
  transform: translate(-50%,-17.5%);
}
.titlebox{
  display:flex;
  position: absolute;
  height: 8%;
  width:100%;
  left:50%;
  top: 20%;
  transform: translate(-50%,-50%);

}
.category{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FFBF31;
  color:white;
  font-size:15px;
  font-weight: bold;
  border-radius:10px;
  margin-left:10%;
  width:25%;
  height:100%;
  box-shadow:0px 4px 4px 0px rgba(0,0,0,25%);
  cursor:pointer;
}
.title{
  background-color:#F5F5F5;
  color:#404040;
  font-size:15px;
  border-radius:10px;
  border:1px solid #ccc;
  margin-left:5%;
  margin-right:10%;
  width: 50%;
  height:100%;
  box-shadow:0px 4px 4px 0px rgba(0,0,0,25%);
  user-select: auto;
}
.writebox{
  position:absolute;
  width:80%;
  height:50%;
  border-radius:10px;
  background-color:#F5F5F5;
  border:1px solid #ccc;
  left:50%;
  top:30%;
  transform: translate(-50%,-0%);
  box-shadow:0px 4px 4px 0px rgba(0,0,0,25%);
  user-select: auto;
}
.anotherbox{
  position: absolute;
  width:80%;
  height:9%;
  left:50%;
  bottom:4%;
  transform: translate(-50%,0%);
}

.writebutton{
  color:white;
  font-weight:bold;
  font-size:15px;
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color:#FFBF31;
  border-radius:10px;
  height:100%;
  width: 40%;
  left:0;
  bottom:2%;
  box-shadow:0px 4px 4px 0px rgba(0,0,0,25%);
  cursor:pointer;
}
.cancelbutton{
  color:white;
  font-weight:bold;
  font-size:15px;
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color:#404040;
  border-radius:10px;
  height:100%;
  width: 40%;
  right: 0;
  bottom:2%;
  box-shadow:0px 4px 4px 0px rgba(0,0,0,25%);
  cursor:pointer;
}

/* 이미지 */

#post_image{
  /* border: 5px solid blue; */
  z-index: 999;
  width: 44vh;
  height: 33vh;
  /* visibility: hidden; */
  transform: translate(46%, 5%);
}