
#changing_area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150vh;
  height: 150vh;
  left:50%;
  top:57%;
  transform: translate(-50%,-50%);
}

#posts_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 150vh;
  height: 100vh;
}

.posts {
  display: flex;
  justify-content: space-around;
  width: 130vh;
  height: 100vh;
}

#pagenation_wrapper {
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 35vh;
  height: 0vh;
  bottom: 1%;
  /* border:1px solid red; */
}






















/* .container{
  border:1px solid red;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  width:100%;
  height:55%;
  top: 30.8%;
}
.postTest{
  border:1px solid blue;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  position:absolute;
  align-self:center;
  display:flex;
  width: 150px;
  height:150px;
  top:0;
  justify-content: space-evenly;
}
.post_box{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  position:absolute;
  align-self:center;
  display:flex;
  width: 85%;
  height:90%;
  top:0;
  justify-content: space-evenly;
}

.post_box_low{
  display:flex;
  width:100%;
  height:33.33%;
  justify-content: space-evenly;
  align-items: center;
}
.post_box_low_post{
  opacity:60%;
  display:flex;
  width:24%;
  padding-bottom:24%;
}
.post_box_low_post:hover{
  opacity: 100%;
}
.page_box{
  position: relative;
}
.post_link{
  position: absolute;
  background-image: url('../../images/canttuna.png');
  background-size: cover;
  background-repeat: no-repeat;
  width:24%;
  padding-bottom:24%;
  border:2px solid #ccc;
  border-radius: 20px;
  background-color: rgba(255,255,255,100%);
  text-decoration: none;
}
.post_link:hover{
  border: 5px solid #FFBF31;
}

.page_box{
  display:flex;
  align-items: center;
  position:absolute;
  width:30%;
  height:5%;
  bottom:2.6%;
  flex-direction: row;
}
.page_pageBox{
  display:flex;
  position:relative;
  width:60%;
  height:70%;
  left:20%;
  justify-content:center;
  align-items:center;
}
.pageBox_numberBox{
  align-items: center;
  position:static;
  display:flex;
  color:white;
  font-size:15px;
  font-weight:bold;
  justify-content: center;
  margin-left:1.66%;
  margin-right:1.66%;
  border-radius: 15px;
  background-color: #404040;
  
  width:40px;
  height:40px;
}
.pageBox_numberBox:hover{
  color:white;
  background-color:#FFBF31;
  cursor:pointer;
}

.page_box_left_arrow{
  width:10%;
  padding-bottom:10%;
  position:absolute;
  background-image:url(../../images/Left_Page_Arrow.png);
  background-size:cover;
  left:0;
  opacity: 30%;
}
.page_box_left_arrow:hover{
  opacity: 80%;
  cursor: pointer;
}
.page_box_right_arrow{
  width:10%;
  padding-bottom:10%;
  position:absolute;
  background-image:url(../../images/Right_Page_Arrow.png);
  background-size:cover;
  right:0;
  opacity: 30%;
}
.page_box_right_arrow:hover{
  opacity: 80%;
  cursor: pointer;
} */