
#changing_area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150vh;
  height: 150vh;
  left:50%;
  top:57%;
  transform: translate(-50%,-50%);
}

#posts_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 150vh;
  height: 100vh;

}

.posts {
  display: flex;
  justify-content: space-around;
  width: 130vh;
  height: 100vh;
}

#pagenation_wrapper {
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 50vh;
  height: 5vh;
  bottom: 1%;
}
