/*****done*****/
.container{
  z-index:30;
  position: absolute;
  display:flex;
  width:100%;
  height:2%;
  right:-4%;
  top:29.6%;
  align-items: center;
  justify-content: center;
}
.like_box{
  display:flex;
  position: absolute;
  flex-wrap:wrap;
  width:110px;
  height:30px;
  right: 15%;
}
.likenew_toggle{
  z-index:0;
  display:flex;
  position: absolute;
  width:30px; height:30px;
  right:105%;
}
.likenew{
  color: #707070;
  font-weight: bold;
  font-size:20px;
}
