#container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vh;
  height: 80vh;
  /* border: 1px solid red; */
}

.outer_wrapper {
  display: flex;
  justify-content: center;
  width: 100vh;
  height: 5vh;
  /* border: 1px solid yellowgreen; */
}

#pagenation_wrapper {
  width: 13vh;
  height: 5vh;
  /* border: 1px solid blue; */
}
