#comment_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80vh;
  height: 60vh;
  /* border: 1px solid blue; */
}

.saying {
  width: 80vh;
  height: 10vh;
  border: 1px solid rgb(153, 148, 148);
  border-radius: 10px;
}

.category_image {
  position: absolute;
  background-image: url("../../images/love-square.jpg");
  background-size: 100%;
  border-radius: 10px 0px 0px 10px;
  width: 10vh;
  height: 10vh;
}

#trashcan {
  position: absolute;
  right: 15vh;
  background-image: url("../../images/Can_Trash.png");
  background-size: 100%;
  width: 2vh;
  height: 2vh;
  display: none;
}

#set_title_middle_box {
  position: absolute;
  left: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 10vh;
  border: 0;
}

.title {
  position: relative;
  text-align: center;
  width: 70vh;
  height: 5vh;
  /* border: 1px solid red; */
}

#icon_66 {
  position: absolute;
  left: 7vh;
  background-image: url("../../images/66.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 3vh;
  height: 3vh;
}

#icon_99 {
  position: absolute;
  top: 0vh;
  right: 7vh;
  background-image: url("../../images/99.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 3vh;
  height: 3vh;
}

#saying {
  font-size: 16pt;
  font-weight: 600;
}

.icon_box {
  position: relative;
  left: 65vh;
  top: 7vh;
  display: flex;
  justify-content: space-between;
  width: 10vh;
  height: 3vh;
  /* border: 1px solid purple; */
}

#heart {
  background-image: url("../../images/Black_Heart.png");
  background-size: 100%;
  width: 3vh;
  height: 3vh;
}

#post {
  background-image: url("../../images/Liked_Post.png");
  background-size: 100%;
  width: 3vh;
  height: 3vh;
}
