.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12vh;
  /* border: 1px solid red; */
}

.bar {
  font-size: 25px;
  color: rgb(20, 20, 20);
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 10vh;
  border: 2px solid #ccc;
  border-radius: 20px;
  flex-direction: row;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}

#post {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ffbf31;
  text-decoration: none;
  width: 25%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

/* #post:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbf31;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 20px 0px 0px 20px;
} */

#saying {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ffbf31;
  text-decoration: none;
  width: 25%;
  height: 100%;
}
#comment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  height: 100%;
}

#like {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}