.container {
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  /* border: 1px solid red; */
}

.bar {
  font-size: 25px;
  color: rgb(20, 20, 20);
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 9vh;
  border: 1px solid #ccc;
  border-radius: 20px;
  flex-direction: row;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}

#post {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  width: 25%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
}

#focused_post {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ffbf31;
  text-decoration: none;
  width: 25%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
}

#saying {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  width: 25%;
  height: 100%;
  cursor: pointer;
}

#focused_saying {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ffbf31;
  text-decoration: none;
  width: 25%;
  height: 100%;
  cursor: pointer;
}

#comment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  height: 100%;
  cursor: pointer;
}

#focused_comment {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ffbf31;
  width: 25%;
  height: 100%;
  cursor: pointer;
}

#like {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
}

#focused_like {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ffbf31;
  width: 25%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
}
