.page_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12vh;
  height: 5vh;
  /* border: 1px solid pink; */
}

#pagenation {
  width: 5vh;
  height: 5vh;
  background-color: #ffbf31;
  border-radius: 12px;
  color: #fff;
  font-size: 18pt;
  font-weight: bold;
}

#pagenation_2 {
  width: 5vh;
  height: 5vh;
  background-color: #000;
  border-radius: 12px;
  color: #fff;
  font-size: 18pt;
  font-weight: bold;
}
