#changing_area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vh;
  height: 70vh;
  border: 1px solid orange;
}

#posts_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 25vh;
  height: 25vh;
  border: 1px solid red;
}

#pagenation_wrapper {
  width: 12vh;
  height: 5vh;
  /* border: 1px solid red; */
}
