.changing_area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vh;
  height: 70vh;
  border: 1px solid orange;
}

#sayings_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 90vh;
  height: 65vh;
  /* border: 1px solid red; */
}

.sayings {
  display: flex;
  justify-content: space-around;
  width: 80vh;
  height: 60vh;
  /* border: 1px solid blue; */
}

#pagenation_wrapper {
  display: flex;
  flex-direction: row;
  width: 90vh;
  height: 5vh;
  /* border: 1px solid blue; */
}
