   .landing-example1{
    width:100%;
    height:600px;
    position: absolute;
    top: 21.345%;
    left: 50%;
    transform: translate(-50%,0%);
  }
  .landing-ex1-image{
    width:350px;
    height:350px;
    border-radius: 20px;
    background-image: url("../../src/images/sweat1.png");
    background-size:100% 100%;
    opacity: 80%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    opacity: 75%;
  }
  .landing-ex1-mention{
    width: 470px;
    font:rgb(50,50,50);
    font-size:40px;
    font-weight:bold;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    text-align:right;
  }
  
  .landing-example2{
    width:100%;
    height:600px;
    background-color: white;
    position: absolute;
    top: 41.345%;
    left: 50%;
    transform: translate(-50%,0%);
  }
  .landing-ex2-image{
    width:350px;
    height:350px;
    border-radius: 20px;
    background-image: url("../../src/images/sweat2.png");
    background-size:100% 100%;
    opacity: 80%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    opacity: 75%;
  }
  .landing-ex2-mention{
    width: 470px;
    font:rgb(50,50,50);
    font-size:40px;
    font-weight:bold;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    text-align:left;
  }
  
  .landing-example3{
    width:100%;
    height:600px;
    background-color: white;
    position: absolute;
    top: 61.345%;
    left: 50%;
    transform: translate(-50%,0%);
  }
  .landing-ex3-image{
    width:350px;
    height:350px;
    border-radius: 20px;
    background-image: url("../../src/images/sweat3.png");
    background-size:100% 100%;
    opacity: 80%;
    position: absolute;
    top: 50.0%;
    left: 30%;
    transform: translate(-50%,-50%);
    opacity: 75%;
  }
  .landing-ex3-mention{
    
    width: 470px;
    font:rgb(50,50,50);
    font-size:40px;
    font-weight:bold;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    text-align:right;
  }
  
  /*******************/
  /* Landing-Example */
  /*******************/
  
  
  .landing-big-message{
    text-align: center;
    width: 1000px;
    font-size:70px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:rgb(20,20,20)
  }
  .landing-start-button{
    border-radius: 27px;
    background: #1c1c1c;
    box-shadow:  4px 4px 10px #101010,
             -4px -4px 10px #282828;
    font-size:20px;
    font-weight:bold; 
    color:white;
    position:absolute;
    width:120px;
    height:60px;
    top: 95.5%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .landing-big-66{
    position: absolute;
    background-image: url("../../src/images/66.png");
    background-size:100% 100%;
    width: 1600px;
    width: 85px;
    height: 60px;
    top: 87%;
    left: 23%;
    transform: translate(-50%,-50%);
    color:rgb(20,20,20)
  }
  .landing-big-99{
    position: absolute;
    background-image: url("../../src/images/99.png");
    background-size:100% 100%;
    width: 85px;
    height: 60px;
    top: 87%;
    left: 77%;
    transform: translate(-50%,-50%);
    color:rgb(20,20,20)
  }
  
  /***********************/
  /* Landing-Big Mention */
  /***********************/
  