* {
  display: border-box;
  margin: 0;
  padding: 0;
}

#my-edit-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 97%;
  border: 0;
}

#my-edit-user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30vh;
  height: 100%; /**/
  border: 1px solid #ccc;
  border-radius: 20px;
}

#my-edit-user-profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28vh;
  height: 28vh;
  border: 0;
}

#my-edit-user-mini-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vh;
  height: 25vh;
  position: absolute;
  border: 0;
}

#my-edit-profile-image {
  flex: none;
  align-self: center;
  border-radius: 100%;
  border: 2px solid #ffbf31;
  width: 150px;
  height: 150px;
  background-image: url("../images/Kkobugi.png");
  background-size: 100% 100%;
}

#my-edit-user-name {
  align-self: center;
  width: 16vh;
  height: 3vh;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 2vh;
  border: 0;
}

#my-edit-message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28vh;
  height: 50vh;
  background: #dcdcdc;
  border-radius: 20px;
}

#my-edit-message {
  width: 25vh;
  height: 48vh;
  border: 0;
}
.my-edit-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 28vh;
  height: 10vh;
  border: 0;
}

#my-edit-profile-setting {
  width: 25vh;
  height: 4vh;
  background: #ffbf31;
  border: 1px solid #ffbf31;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
}

#my-edit-logout {
  width: 25vh;
  height: 4vh;
  background: #000;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
}

#my-edit-setting-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  border: 1px solid blue;
}

#my-edit-setting-outer-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.my-edit-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14vh;
  border: 1px solid red;
}

#my-edit-title {
  width: 18vh;
  height: 6.5vh;
  color: #ffbf31;
  font-size: 30pt;
  font-weight: 600;
  border: 1px solid purple;
}

#my-edit-explain {
  width: 17vh;
  height: 4vh;
  border: 1px solid green;
}

#my-edit-setting-inner-wrap {
  width: 50%;
  height: 50%;
  border: 1px solid purple;
}
