* {
  display: border-box;
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 97%;
}

#user_container {
  position: absolute;
  left: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45vh;
  height: 100%;
  border: 5px solid #ccc;
  border-radius: 20px;
}

#user_profile_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vh;
  height: 30vh;
  /* border: 1px solid blue; */
}

#user_mini_wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  display: table-cell;
  vertical-align: middle;
  width: 42vh;
  height: 20vh;
  /* border: 3px solid blue; */
}

#profile_image {
  width: 25vh;
  height: 25vh;
  padding-bottom: 25vh;
  background-image: url("../images/Kkobugi.png");
  background-size: 100% 100%;
  transform: translate(33%, -10%)
}

#profile_image_camera {
  position: flex;
  width: 4vh;
  height: 4vh;
  background-image: url("../images/Profile_Picture.png");
  background-size: 100% 100%;
  transform: translate(490%, 500%);
  z-index: 900;
}

#user_name {
  /*꼬부기*/
  width: 100%;
  /* height: 2%; */
  font-size: 2.6vh;
  font-weight: bold;
  text-align: center;
  /* transform: translate(143%, 0%); */
  /* border: 1px solid black; */
}

#message_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 30vh;
  background: #dcdcdc;
  border-radius: 20px;
  /* border: 2 solid black; */
}

#message {
  width: 35vh;
  height: 28vh;
  font-size: 2.1vh;
  /* border: 1px solid red; */
}

.buttons_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40vh;
  height: 13vh;
}

#profile_setting {
  width: 40vh;
  height: 5vh;
  background: #ffbf31;
  border: 0;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
  font-size: 2.1vh;
}

#logout {
  width: 40vh;
  height: 5vh;
  background: #000;
  border: 0;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
  font-size: 2.1vh;
}

{/* --------- 계정 설정 --------- */}

#setting_container {
  position: absolute;
  left: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 73%;
  height: 100%;
  /* border: 1px solid blue; */
}

#setting_outer_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 14vh;
  /* border: 1px solid red; */
}

#title {
  width: 50vh;
  text-align: center;
  height: 7vh;
  color: #ffbf31;
  font-size: 6vh;
  font-weight: 600;
  /* border: 1px solid purple; */
}

#explain {
  width: 30vh;
  height: 4vh;
  text-align: center;
  font-size: 2.5vh;
  color: grey
  /* border: 1px solid green; */
}

#setting_inner_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85vh;
  height: 70vh;
  /* border: 1px solid purple; */
}

#seeting_sub_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85vh;
  height: 12.0vh;
}

.text {
  font-size: 2.3vh;
  font-weight: bold;
  
}

.textarea {
  height: 6vh;
  background: #dcdcdc;
  border: none;
  border-radius: 8px;
  font-size: 2.1vh;
  padding-left: 1vh;
  color: grey;
}

.buttons_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85vh;
  height: 5vh;
  /* border: 1px solid green; */
}

#btn1 {
  width: 40vh;
  height: 5vh;
  background: #ffbf31;
  border: 0;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
  font-size: 2.1vh;
}

#btn2 {
  width: 40vh;
  height: 5vh;
  background: #000;
  border: 0;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
  font-size: 2.1vh;
}

#resign_btn {
  background: transparent;
  height: 9vh;
  border: 0;
  font-size: 2.1vh;
  color: #4c4c4c;
}