* {
  display: border-box;
  margin: 0;
  padding: 0;
}

#mypage-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  border: 0;
}

#mypage-user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30vh;
  height: 100vh;
  border: 1px solid black;
  border-radius: 20px;
}

#mypage-user-profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28vh;
  height: 28vh;
  border: 0;
}

#mypage-user-mini-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16vh;
  height: 25vh;
  position: absolute;
  border: 0;
}

#mypage-profile-image {
  flex: none;
  border-radius: 100%;
  border: 2px solid #ffbf31;
  width: 150px;
  height: 150px;
  background-image: url("../images/Kkobugi.png");
  background-size: 100% 100%;
}

#mypage-user-name {
  width: 16vh;
  height: 3vh;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 2vh;
  border: 0;
}

#mypage-message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28vh;
  height: 50vh;
  background: #ccc;
  border-radius: 20px;
}

#mypage-message {
  width: 25vh;
  height: 48vh;
  border: 0;
}
.mypage-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 28vh;
  height: 10vh;
  border: 0;
}

#mypage-profile-setting {
  width: 25vh;
  height: 4vh;
  background: #000;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
}

#mypage-logout {
  width: 25vh;
  height: 4vh;
  background: #000;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
}

#mypage-posts-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  border: 0;
}

#mypage-category-wrapper {
  width: 100%;
  height: 12vh;
  border: 0;
}
#mypage-posts-wrap-twice {
  position: relative;
  width: 100%;
  height: 90vh;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#mypage-posts-wrap {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  flex-direction: row;
  width: 90vh;
  height: 70vh;
  border: 1px solid red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mypage-posts {
  width: 100%;
  height: 50%;
  border: 1px solid blue;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

#mypage-post {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}