* {
  display: border-box;
  margin: 0;
  padding: 0;
}

#container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 97%;
  /* border: 1px solid red; */
  margin-top: 1%;
}

#under_container {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 97%;
  /* border: 1px solid green; */
}

#user_container {
  position: absolute;
  left: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45vh;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#user_profile_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vh;
  height: 45vh;
  /* border: 1px solid blue; */
}

#user_mini_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 42vh;
  height: 42vh;
  /* border: 1px solid green; */
}

#profile_image {
  border-radius: 100%;
  border: 3px solid #ffbf31;
  width: 25vh;
  height: 25vh;
  padding-bottom: 25vh;
  background-image: url("../images/Kkobugi.png");
  background-size: 100% 100%;
}

#user_name {
  /*꼬부기*/
  width: 25%;
  height: 5%;
  padding-bottom: 25%;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  /* border: 1px solid black; */
}

#message_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 20vh;
  background: #dcdcdc;
  border-radius: 20px;
}

#message {
  width: 35vh;
  height: 15vh;
  font-size: 14pt;
  /* border: 1px solid red; */
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40vh;
  height: 13vh;
  /* border: 1px solid blue; */
}

#profile_setting {
  width: 40vh;
  height: 5vh;
  background: #000;
  border: 0;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
  font-size: 14pt;
}

#logout {
  width: 40vh;
  height: 5vh;
  background: #000;
  border: 0;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
  font-size: 14pt;
}

#posts_container {
  position: absolute;
  left: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 73%;
  height: 100%;
  /* border: 1px solid blue; */
}

#category_wrapper {
  width: 100%;
  height: 10%;
  /* border: 1px solid purple; */
}

#posts_board {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 89%;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#component_wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100vh;
  height: 70vh;
  /* border: 1px solid green; */
}

#footer_wrapper {
  width: 100%;
  height: 30vh;
  position: absolute;
  bottom: -40vh;
  /* border: 1px solid hotpink; */
}
