.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0.3%;
}

.jumbotron_wrapper {
  display: flex;
  width: 100%;
  height: 300px;
  border: 0;
}

.jumbotron {
  background-image: url("../../src/images/posting-health.png");
  background-position: center;
  background-size: cover;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: 1;
}

.left_66 {
  width: 45px;
  height: 30px;
  background-image: url("../../src/images/white_66.png");
  background-size: 100% 100%;
  opacity: 90%;
  position: absolute;
  top: 38%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.right_99 {
  width: 45px;
  height: 30px;
  background-image: url("../../src/images/white_99.png");
  background-size: 100% 100%;
  opacity: 90%;
  position: absolute;
  top: 38%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.saying {
  display: flex;
  display: block;
  text-align: center;
  position: absolute;
  width: 930px;
  font-weight: bold;
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.under_jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vh;
  height: 170vh;
  /* border: 3px solid green; */
}

#title_box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100vh;
  height: 10vh;
  /* border: 1px solid yellow; */
  font-size: 30px;
  font-weight: 400;
  top: 30%;
}

#title {
  width: 46vh;
  height: 5vh;
  /* border: 1px solid pink; */
  font-size: 30px;
  font-weight: 430;
  position: absolute;
  left: 67vh;
}

.setting_toggle {
  background-image: url("../../src/images/tripledot.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 3vh;
  height: 3vh;
  /* border: 1px solid red; */
  position: absolute;
  right: 67vh;
  background-color: transparent;
  font-weight: bold;
  font-size: 25pt;
  color: rgb(20, 20, 20);
  text-align: center;
  z-index: 888;
}

/* #image {
  background-image: url("../../src/images/canttuna.png"); 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 60vh;
  height: 60vh;
  padding-bottom: 60vh;
  border-radius: 20px;
  border: 0; 
} */

#top_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vh;
  height: 7vh;
  /* border: 1px solid blue; */
}

.like_wrapper {
  position: absolute;
  left: 62vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20vh;
  height: 6vh;
  /* border: 1px solid red; */
}

#like_button {
  background-image: url("../../src/images/Red_Heart.png");
  background-size: 100%;
  width: 4vh;
  height: 4vh;
}

#like_button ~ p {
  font-size: 14pt;
}
#view {
  background-image: url("../../src/images/eye.png");
  background-size: 100%;
  width: 4vh;
  height: 4vh;
}

.user_box {
  position: absolute;
  right: 62vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 22vh;
  height: 7vh;
  /* border: 1px solid purple; */
}

.user_box p {
  /*다급한너구리님*/
  font-size: 14pt;
}

#user_profile_image {
  background-image: url("../../src/images/dongsuck.png");
  background-size: 100%;
  width: 6vh;
  height: 6vh;
}

.down_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vh;
  height: 80vh;
  /* border: 3px solid yellowgreen; */
}

#content_boundary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vh;
  height: 25vh;
  border: 1px solid #ccc;
  border-radius: 25px;
}

#content {
  position: absolute;
  width: 65vh;
  height: 20vh;
  border: 0;
  font-size: 15pt;
}

#created_at {
  /*0627*/
  width: 20vh;
  height: 3vh;
  text-align: center;
  font-size: 13pt;
  color: #7c7c7c;
  position: relative;
  top: -5.5vh;
  left: 25vh;
  /* border: 1px solid red; */
}

.posted_comment_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vh;
  height: 13vh;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#comment_border {
  position: absolute;
  width: 65vh;
  height: 10vh;
  /* border: 1px solid pink; */
}

#user_image2 {
  background-image: url("../../src/images/bono.png");
  background-size: 100%;
  width: 8vh;
  height: 8vh;
  position: relative;
  top: 10px;
  left: 10px;
}

#comment_border > p {
  /*나도 살빼야 되는데ㅜ 눈팅 그만하고싶어여*/
  position: relative;
  top: -65px;
  left: 110px;
  font-size: 14pt;
}

#comment_user {
  /*뱃살대장보노*/
  position: relative;
  height: 3vh;
  top: 5vh;
  left: 23vh;
  font-size: 11pt;
  text-align: center;
  color: #2c2c2c;
  /* border: 1px solid blue; */
}

#comment_created_at {
  /*30분전*/
  width: 7vh;
  height: 3vh;
  position: relative;
  top: 5vh;
  left: 23vh;
  text-align: center;
  font-size: 11pt;
  color: #2c2c2c;
  /* border: 1px solid purple; */
}

#see_more_btn {
  background-color: transparent;
  border: 1px solid orange;
  font-size: 13pt;
  border: 0;
}

/* 기쁨 작업장 */
#post_image{
  /* border: 5px solid blue; */
  z-index: 999;
  width: 60vh;
  height: 50vh;
  /* visibility: hidden; */
  transform: translate(0%, 0%);
  border-radius: 10%
}