.container{
  display: flex;
  position: relative;
  width:100%;
  height:2900px;
}
.category_all{
  position:absolute;
  background: #575757 90%;
  background-image: url(../images/6699logo.png);
  width:70%;
  height:13%;
  left: 50%;
  background-position: center;
  background-repeat:no-repeat;
  transform: translate(-50%,0%);
  box-shadow:0px 6px 6px 0px rgba(0,0,0,25%);
}
.category_health{
  position:absolute;
  background-image: url(../images/posting-health.png);
  width:70%;
  height:13%;
  left: 50%;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
  background-repeat:no-repeat;
  transform: translate(-50%,0%);
  box-shadow:0px 6px 6px 0px rgba(0,0,0,25%);
}
.category_economy{
  position:absolute;
  background-image: url(../images/posting_economy.png);
  width:70%;
  height:13%;
  left: 50%;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
  background-repeat:no-repeat;
  transform: translate(-50%,0%);
  box-shadow:0px 6px 6px 0px rgba(0,0,0,25%);
}
.category_love{
  position:absolute;
  background-image: url(../images/posting_love.png);
  width:70%;
  height:13%;
  left: 50%;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
  background-repeat:no-repeat;
  transform: translate(-50%,0%);
  box-shadow:0px 6px 6px 0px rgba(0,0,0,25%);
}
.category_relationship{
  position:absolute;
  background-image: url(../images/posting_relationship.png);
  width:70%;
  height:13%;
  left: 50%;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
  background-repeat:no-repeat;
  transform: translate(-50%,0%);
  box-shadow:0px 6px 6px 0px rgba(0,0,0,25%);
}
.category_study{
  position:absolute;
  background-image: url(../images/posting_study.png);
  width:70%;
  height:13%;
  left: 50%;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
  background-repeat:no-repeat;
  transform: translate(-50%,0%);
  box-shadow:0px 6px 6px 0px rgba(0,0,0,25%);
}

.category_button{
  z-index: 5;
  cursor: pointer;
  position: absolute;
  display:flex;
  top: 10%;
  right:17.5%;
  justify-content: center;
  align-items:center;
  color:white;
  font-size:20px;
  font-weight:bold;
  background-color: #FFBF31;
  height: 1.5%;
  width: 10%;
  border-radius: 15px;
  box-shadow:0px 4px 4px 0px rgba(0,0,0,25%);
}
.ranking_box{
  flex-direction: row;
  flex-wrap:wrap-reverse;
  position:absolute;
  border:2px solid #ccc;
  border-radius:30px;
  width:70%;
  height:70%;
  left: 50%;
  top:14%;
  transform: translate(-50%,0%);
  box-shadow:0px 4px 4px 0px rgba(0,0,0,25%);
}
.rankingbox_medalzone{
  float:left;
  width:9%;
  height:100%;
  border-right:1px solid #ccc;
  border-radius: 25px 0px 0px 25px;
}
.rankingbox_medalzone_top3{
  background-color:white;
  position:sticky;

  border-radius: 25px 25px 0px 25px;
  height:13%;
  top: 0;
  z-index:3;
}
.rankingbox_medalzone_top3_medal1{
  display:flex;
  height:33%;
  background-image:url(../images/gold_medal.png); 
  align-items: center;
  justify-content: center;
  background-size: 40%;
  background-position: center;
  background-repeat:no-repeat;
}
.rankingbox_medalzone_top3_medal2{
  display:flex;
  height:33.33%;
  background-image:url(../images/silver_medal.png); 
  align-items: center;
  justify-content: center;
  background-size: 40%;
  background-position: center;
  background-repeat:no-repeat;
}
.rankingbox_medalzone_top3_medal3{
  display:flex;
  height:33.33%;
  background-image:url(../images/bronze_medal.png); 
  align-items: center;
  justify-content: center;
  background-size: 40%;
  background-position: center;
  background-repeat:no-repeat;
}


.rankingbox_sayingzone{
  float:right;
  width:91%;
  height:100%;
}
.rankingbox_sayingzone_top3{
  background-color:white;
  position:sticky;
  border-radius:0px 25px 25px 25px;
  height:13%;
  top: 0;
  z-index:3;
}
.rankingbox_sayingzone_top3_sayingzone{
  margin-left:3%;
  width:99%;
  display:flex;
  align-items:center;
  color:#1E1E1E;  
  font-weight:bold;
  height:33.33%;
}
.rankingbox_sayingzone_top3_saying{
  display:flex;
  align-items:center;
  color:#1E1E1E;
  font-size: 35px;
  font-weight:bold;
  width: 79%;
  height:100%;
}
.rankingbox_sayingzone_top3_saying:hover{
  cursor:pointer;
  color:#FFBF31;
}
.rankingbox_sayingzone_top3_image{
  opacity: 70%;
  display:flex;
  position: relative;
  border: 2px solid #ffbf31;
  border-radius: 100%;
  margin-left: 3%;
  height:40%;
  width: 3%;
}
.rankingbox_sayingzone_top3_like{
  background-image: url('../images/Red_Heart.png');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  display:flex;
  position: relative;
  left: 0;
  margin-left: 2%;
  height:50%;
  width: 4%;
}
.rankingbox_sayingzone_top3_likenumber{
  color:rgba(0,0,0,15%);
  align-items: center;
  font-size:20px;
  display:flex;
  position: relative;
  left: 0;
  height:50%;
  width: 4%;
}

/* 순위권 밖 */
.rankingbox_medalzone_top12{
  height: 81.1%;
}
.rankingbox_medalzone_top12_ranking{
  color:rgba(0,0,0,60%);
  font-size:30px;
  font-weight:bold;
  display:flex;
  align-items: center;
  justify-content: center;
  height:6%;
}
.rankingbox_sayingzone_top12{
  height:81.1%; 
}
.rankingbox_sayingzone_top12_sayingzone{
  width:99%;
  margin-left: 3%;
  color:rgba(0,0,0,60%);
  display:flex;
  align-items: center;
  height:6%;
}
.rankingbox_sayingzone_top12_saying{
  color:rgba(0,0,0,60%);
  font-size:25px;
  font-weight:bold;
  display:flex;
  align-items: center;
  height:100%;
  width:79%;
}
.rankingbox_sayingzone_top12_saying:hover{
  color:#FFBF31;
  cursor:pointer;
}
.rankingbox_sayingzone_top12_image{
  opacity: 70%;
  display:flex;
  position: relative;
  border: 2px solid #ffbf31;
  border-radius: 100%;
  margin-left: 2.5%;
  left: 1%;
  height:30%;
  width: 2.5%;
}
.rankingbox_sayingzone_top12_like{
  background-image: url('../images/Red_Heart.png');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  display:flex;
  position: relative;
  margin-left: 2.5%;
  left: 1.25%;
  height:30%;
  width: 2.5%;
}
.rankingbox_sayingzone_top12_likenumber{
  color:rgba(0,0,0,15%);
  align-items: center;
  font-size:20px;
  display:flex;
  position: relative;
  left: 2%;
  height:50%;
  width: 4%;
}
.rankingbox_ViewMoreButton{
  z-index:999;
  position:absolute;
  bottom:0;
  color: white;
  font-weight: bold;
  font-size:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 25px 25px;
  width:100%;
  height:40px;
  background-color: #FFBF31;
}
.link{
  text-decoration: none; 
  color: inherit; 
}
.pagenation_wrapper {
  z-index:10;
  display: flex;
  position:absolute;
  bottom:2.5%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 2.5%;
  /* border: 1px solid red; */
}