.comment_writting_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vh;
  height: 13vh;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#writting_comment_border {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 65vh;
  height: 10vh;
  /* border: 1px solid orange; */
}

#user_profile_image {
  width: 5vh;
  height: 5vh;
  transform: translate(-65%, 5%);
}

input {
  width: 50vh;
  height: 8vh;
  font-size: 13pt;
  padding-left: 1vh;
  color: #7c7c7c;
  border: 0;
}

input:focus {
  outline: none;
}

#make_comment {
  /*게시하기*/
  width: 8vh;
  height: 4vh;
  background-color: transparent;
  position: relative;
  top: 5vh;
  left: 28vh;
  color: #7c7c7c;
  font-size: 11pt;
  transform: translate(-2%, -130%);
  border: 2px solid blue;
}

#make_comment:hover {
  /*게시하기*/
  width: 8vh;
  height: 3vh;
  background-color: transparent;
  position: relative;
  top: 5vh;
  left: 28vh;
  color: #7c7c7c;
  font-size: 11pt;
  border: 0;
  cursor: pointer;
}
