nav {
  position:absolute;
  width: 70vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  bottom: 9vh;
}

ul,li {
  list-style: none;
  border:0px;
}

#wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vh;
  height: 5vh;
    border: 1px solid green;
}

.btns {
  width: 5vh;
  height: 5vh;
  margin-left:5vh;
  /* border: 1px solid green; */
}

#btn {
  align-items: center;
  position: relative;
  display: flex;
  color: white;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  margin-left: 1.66%;
  margin-right: 1.66%;
  border-radius: 15px;
  background-color: #404040;

  width: 15px;
  height: 15px;
}

#btn:hover {
  color: white;
  background-color: #ffbf31;
  cursor: pointer;
}

#btn:visited {
  color: white;
  background-color:#ffbf31;
}
