* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  height: 40vh;
  display: flex;
  bottom: 0;
  background: #ccc;
}

#logo_wrapper {
  width: 50vh;
  height: 40vh;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

#six_nine_logo {
  background-image: url("../images/FooterLogo.png");
  background-size: 100% 100%;
  width: 20vh;
  height: 20vh;
  border: 1px solid blue;
}

.team_members {
  display: flex;
  width: 150vh;
  height: 40vh;
  border: 1px solid red;
}

.profile {
  text-align: center;
  width: 20vh;
  height: 20vh;
  float: left;
  border: 1px solid yellow;
  color: #fff;
  font-weight: bold;
}

.github_logo {
  background-image: url("../images/gitHubIcon.png");
  background-size: 100% 100%;
  width: 7vh;
  height: 7vh;
  border: 1px solid orange;
}

.info {
  width: 20vh;
  height: 10vh;
  border: 1px solid green;
}

.badges {
  position: absolute;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  bottom: 10%;
  width: 17vh;
  height: 6vh;
  border: 1px solid purple;
  margin-bottom: -2vh;
}

#youtube_logo {
  background-image: url("../images/YoutubeBadge.png");
  background-size: 100% 100%;
  width: 6vh;
  height: 6vh;
}

#github_logo {
  opacity: 88%;
  background-image: url("../images/GitHubBadge.png");
  background-size: 100% 100%;
  width: 6vh;
  height: 6vh;
  opacity: 88%;
}

#copyright {
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: 30vh;
  color: #fff;
  margin-left: 20px;
  border: 1px solid green;
}
