.my-category-container {
  display: flex;
  width: 80%;
  height: 13vh;
  position: absolute;
  top: 6%;
  left: 59%;
  transform: translate(-50%, -50%);
  border: 0;
}
.my-category-bar {
  font-size: 25px;
  color: rgb(20, 20, 20);
  font-weight: bold;
  display: flex;
  width: 80%;
  height: 10vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  border-radius: 20px;
  flex-direction: row;
}
.my-category-saying {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbf31;
  width: 25%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.my-category-post {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  height: 100%;
}
.my-category-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  height: 100%;
}
.my-category-like {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}