.my-category-container {
  display: flex;
  width: 100%;
  height: 210px;
  position: absolute;
  top: 22%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.my-category-bar {
  font-size: 35px;
  color: rgb(20, 20, 20);
  font-weight: bold;
  display: flex;
  width: 70%;
  height: 10vh;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(40, 40, 40);
  border-radius: 20px;
  flex-direction: row;
}
.my-category-saying {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbf31;
  width: 25%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.my-category-post {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  height: 100%;
}
.my-category-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  height: 100%;
}
.my-category-like {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}
