.modal-box{
  font-size:20px;
  display: flex;
  flex-wrap:wrap;
  background-color: white;
  border-radius:10px;
  width: 200px;
  height:100px;
  z-index: 3;
  position: fixed;
  bottom: 35px;
  left: 75%;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,25%);
}
.modal-post{
  display: flex;
  width:100%;
  height:50%;
  align-items: center;
  justify-content: center;
}
.modal-say{
  display: flex;
  width:100%;
  height:50%;
  align-items: center;
  justify-content: center;
}